.topnavbar {
  margin:0px 0px 10px;
  font: 14px;
  color: #fff;
  display: flex;
}

nav{
  border: solid #555;
  background-color: #3C5A8E;
}
nav ul
{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
}
nav li a
{
  color: white;
}

body
{ 
    background-image: url('Assets/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}

.container 
{
  margin: 55px;
  width: 960px;
  margin-left: 266px;
  /* margin-bottom: 160px; */
    
}

.logo
{
      position: absolute;
      margin-left: 20px;
      top:33px
}

.navbar
{
  margin-left: 0px;
  border: 1px solid#5d6266;
  padding: 16px;
}

.topnav 
{
  background-color:  rgba(28, 28, 28, 0.705);
  padding:  5px;
  
}
.navbar ul
{
  list-style-type: none;
  text-align: end;
  margin: 0;
  padding: 0;
  /* margin-left: 20rem; */
}

.navbar li{
  display: inline;
  margin-right: 10px;
}

.navbar li a 
{
  color: #9dcce8;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.navbarli a:hover {
  background-color: rgb(196, 196, 204);
}
.navbar li a span{
  color: white;
}

.banner
{
  background-color: rgba(128, 126, 126, 0.5);
  padding-top: 24px;
  padding-bottom: 24px;
}

.banner p
{
  color: white;
  font-size: 36px;
  letter-spacing: 5px;
  font-family: Calibri (Body); 
  padding-left: 40px;
  padding-bottom: 10px;
  font-family: Trebuchet MS;
  margin-top: 0;
  margin-bottom: 0;
}

.content
{
  padding-bottom: 10px;
  color: #fff; 
  background: rgba(7, 7, 7, 0.705);
  padding-top: 10px;
  display: flex;
}

.homecontent
{ 
 flex: 1;
  padding: 19px;
  display: inline-block;
  
}
.homecontent a
{
  color: #9dcce8;
  display: inline;
}
P
{
  padding: 10px 12px 0px;
  vertical-align: top;
  align-items: start;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
}

/* footer */
.footer {
  background-color: #3C5A8E;
  color: rgb(204, 219, 231);
}
.footer li
{
  align-items: center;
  margin-right: 10px;
}
.footer  li a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  
}
.footer li Copyright
{
color: #9fb4e1;
}
.footer ul
{
  list-style-type: none;
  display: flex;
  padding: 10px;
  margin-left: 225px;
}
span{margin-left: 10px;}