.topnavbar {
  color: #fff;
  top: 0px;
  padding: 0;
}
nav ul li:not(:last-child)::after{ 
  content: "|";
  color: #fff;
  padding: 5px;
     font-size: 14px;
    font-weight: normal;
    line-height: 21px;
  
}

nav ul {
  float: right;
  list-style-type: none;
  background-color:#3D5685;
  padding: 0px 5px 2px;
  display: inline-block;
  margin-right: 10px;
}

nav li 
{
  display: inline;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  padding: 0px 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
  margin: 0PX;
}
body {
  background-image: url('Assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Trebuchet MS';
  background-color: #4A6BAE;

}

.container {
  margin: auto ;
  width: 982px;
  display: flex;
  flex-direction: column;

}

.logo {
  position: absolute;
 /* margin-left: 19px;*/
  top: 9px;
}
.main{
  padding: 10PX;
  margin-top: 20px;
}
.navbar {
  margin-left: 0px;
  border: 1px solid#5d6266;
  padding: 16px;
}

.topnav {
  background-color: rgb(2 2 2 / 71%);
  padding: 5px;

}

.navbar ul {
  list-style-type: none;
  text-align: end;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.navbar li {
  display: inline;
 /* margin-right: 17px;*/
}
.home ::after
{
  content: "|";
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar li a {
  color: #9dcce8;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbarli a:hover {
  background-color: rgb(196, 196, 204);
}

.banner {
  background-color: rgb(95 88 88 / 50%);
  padding: 34px;
  
}
.homecontent img
{margin-bottom: 20px;}
.banner p {
  color: white;
  font-size: 34px;
  letter-spacing: 13px;
  padding-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.content {
  padding-bottom: 10px;
  color: #fff;
  background: rgba(7, 7, 7, 0.705);
  padding-top: 10px;
  display: flex;
}


.homecontent {
  padding: 22px;
  vertical-align: top;

}

.homecontent a 
{
  color: #9dcce8;
  display: inline;
}
#offer{margin-bottom: 10px;
padding-bottom: 10px;}
P {

  align-items: start;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#2D3E6B;
  color: #CAD2EE;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  gap: 0 5px;
}

.footer li {
  align-items: center;
  margin-right: 10px;
}

.footer li a {
  color: whitesmoke;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footer li Copyright {
  color: #29416D;

}

.footer ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  margin-left: 0px;
}

/* Services */

.Our-services-content
{
  margin-top: 24px;
  color: #fff;
  background: rgba(7, 7, 7, 0.705);
  padding-top: 10px;
  display: flex;
}

.img
{
  margin-bottom: 20px;
}

.service-links
{
  padding: 10px 5px;
  border-top: #5F6474 solid 1px;
  border-bottom: #5F6474 solid 1px;
}

.service-links Ul
{
  list-style: none;
}

.title
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #9acbeb;
}

.service-content ul
{
  padding-left: 35px;
}
.service-content li
{
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Trebuchet MS';
}
p
{
  margin: 20px auto;
  font-family: 'Trebuchet MS';
  color: #fff;
  font-size: 17px;
  line-height: 20px;
}
.request-container{
    border-top: #5F6474 solid 1px;
  border-bottom: #5F6474 solid 1px;
}
button{margin-bottom: 20px;}
