.Our-services-content
{
  margin-top: 24px;
  color: #fff;
  background: rgba(7, 7, 7, 0.705);
  padding-top: 10px;
  display: flex;
}

.img
{
  margin-bottom: 20px;
}

.service-links
{
  padding: 10px 5px;
  border-top: #5F6474 solid 1px;
  border-bottom: #5F6474 solid 1px;
}

.service-links Ul
{
  list-style: none;
  padding-left: 0;
}

.title
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #9acbeb;
}

.service-content ul
{
  padding-left: 35px;
}
.service-content li
{
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Trebuchet MS';
}
p
{
  margin: 20px auto;
  font-family: 'Trebuchet MS';
  color: #fff;
  font-size: 17px;
  line-height: 20px;
}
.request-container{
    margin: 2px auto;
    padding: 10px 6px;
    border-top: #5F6474 solid 1px;
    border-bottom: #5F6474 solid 1px;
    background-color: #10223A;
}
.requset-content
{
    color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.request-link{
    background-image: linear-gradient(to top,#0A293D,#155D75);
    color: #C4E3FF;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    border: 1px solid #136885;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
}